In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

In [2]:
df=pd.read_csv("SBI_Life_insurance.csv")
df

      age  sex     bmi  children  smoker  region      charges  insuranceclaim
0      19    0  27.900         0       1       3  16884.92400               1
1      18    1  33.770         1       0       2   1725.55230               1
2      28    1  33.000         3       0       2   4449.46200               0
3      33    1  22.705         0       0       1  21984.47061               0
4      32    1  28.880         0       0       1   3866.85520               1
5      31    0  25.740         0       0       2   3756.62160               0
6      46    0  33.440         1       0       2   8240.58960               1
7      37    0  27.740         3       0       1   7281.50560               0
8      37    1  29.830         2       0       0   6406.41070               0
9      60    0  25.840         0       0       1  28923.13692               0
10     25    1  26.220         0       0       0   2721.32080               1
11     62    0  26.290         0       1       2  27808.72510               1
12     23    1  34.400         0       0       3   1826.84300               1
13     56    0  39.820         0       0       2  11090.71780               1
14     27    1  42.130         0       1       2  39611.75770               1
15     19    1  24.600         1       0       3   1837.23700               0
16     52    0  30.780         1       0       0  10797.33620               1
17     23    1  23.845         0       0       0   2395.17155               0
18     56    1  40.300         0       0       3  10602.38500               1
19     30    1  35.300         0       1       3  36837.46700               1
20     60    0  36.005         0       0       0  13228.84695               1
21     30    0  32.400         1       0       3   4149.73600               1
22     18    1  34.100         0       0       2   1137.01100               1
23     34    0  31.920         1       1       0  37701.87680               1
24     37    1  28.025         2       0       1   6203.90175               0
25     59    0  27.720         3       0       2  14001.13380               1
26     63    0  23.085         0       0       0  14451.83515               0
27     55    0  32.775         2       0       1  12268.63225               0
28     23    1  17.385         1       0       1   2775.19215               1
29     31    1  36.300         2       1       3  38711.00000               1
...   ...  ...     ...       ...     ...     ...          ...             ...
1308   25    0  30.200         0       1       3  33900.65300               1
1309   41    1  32.200         2       0       3   6875.96100               0
1310   42    1  26.315         1       0       1   6940.90985               0
1311   33    0  26.695         0       0       1   4571.41305               1
1312   34    1  42.900         1       0       3   4536.25900               1
1313   19    0  34.700         2       1       3  36397.57600               1
1314   30    0  23.655         3       1       1  18765.87545               0
1315   18    1  28.310         1       0       0  11272.33139               0
1316   19    0  20.600         0       0       3   1731.67700               0
1317   18    1  53.130         0       0       2   1163.46270               1
1318   35    1  39.710         4       0       0  19496.71917               0
1319   39    0  26.315         2       0       1   7201.70085               0
1320   31    1  31.065         3       0       1   5425.02335               0
1321   62    1  26.695         0       1       0  28101.33305               1
1322   62    1  38.830         0       0       2  12981.34570               1
1323   42    0  40.370         2       1       2  43896.37630               1
1324   31    1  25.935         1       0       1   4239.89265               0
1325   61    1  33.535         0       0       0  13143.33665               1
1326   42    0  32.870         0       0       0   7050.02130               1
1327   51    1  30.030         1       0       2   9377.90470               1
1328   23    0  24.225         2       0       0  22395.74424               0
1329   52    1  38.600         2       0       3  10325.20600               1
1330   57    0  25.740         2       0       2  12629.16560               1
1331   23    0  33.400         0       0       3  10795.93733               1
1332   52    0  44.700         3       0       3  11411.68500               0
1333   50    1  30.970         3       0       1  10600.54830               0
1334   18    0  31.920         0       0       0   2205.98080               1
1335   18    0  36.850         0       0       2   1629.83350               1
1336   21    0  25.800         0       0       3   2007.94500               0
1337   61    0  29.070         0       1       1  29141.36030               1

[1338 rows x 8 columns]

In [3]:
df.head()

   age  sex     bmi  children  smoker  region      charges  insuranceclaim
0   19    0  27.900         0       1       3  16884.92400               1
1   18    1  33.770         1       0       2   1725.55230               1
2   28    1  33.000         3       0       2   4449.46200               0
3   33    1  22.705         0       0       1  21984.47061               0
4   32    1  28.880         0       0       1   3866.85520               1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 8 columns):
age               1338 non-null int64
sex               1338 non-null int64
bmi               1338 non-null float64
children          1338 non-null int64
smoker            1338 non-null int64
region            1338 non-null int64
charges           1338 non-null float64
insuranceclaim    1338 non-null int64
dtypes: float64(2), int64(6)
memory usage: 83.7 KB

In [5]:
corr=df.corr()
corr

,age,sex,bmi,children,smoker,region,charges,insuranceclaim
age,1.000000,-0.020856,0.109272,0.042469,-0.025019,0.002127,0.299008,0.113723
sex,-0.020856,1.000000,0.046371,0.017163,0.076185,0.004588,0.057292,0.031565
bmi,0.109272,0.046371,1.000000,0.012759,0.003750,0.157566,0.198341,0.384198
children,0.042469,0.017163,0.012759,1.000000,0.007673,0.016569,0.067998,-0.409526
smoker,-0.025019,0.076185,0.003750,0.007673,1.000000,-0.002181,0.787251,0.333261
region,0.002127,0.004588,0.157566,0.016569,-0.002181,1.000000,-0.006208,0.020891
charges,0.299008,0.057292,0.198341,0.067998,0.787251,-0.006208,1.000000,0.309418
insuranceclaim,0.113723,0.031565,0.384198,-0.409526,0.333261,0.020891,0.309418,1.000000

In [7]:
dfTrain = df[:1000]
dfTest = df[1000:1300]
dfCheck =df[1300:]

In [8]:
trainLabel = np.asarray(dfTrain['insuranceclaim'])
trainData = np.asarray(dfTrain.drop('insuranceclaim',1))
testLabel = np.asarray(dfTest['insuranceclaim'])
testData = np.asarray(dfTest.drop('insuranceclaim',1))

In [9]:
means = np.mean(trainData, axis=0)
stds = np.std(trainData, axis=0)
trainData = (trainData - means)/stds
testData = (testData - means)/stds
 
insuranceCheck = LogisticRegression()
insuranceCheck.fit(trainData, trainLabel)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [10]:
accuracy = insuranceCheck.score(testData, testLabel)
print("accuracy = ", accuracy * 100, "%")

accuracy =  85.66666666666667 %